<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white h2">UNIVERSIDAD METROPOLITANA</p>
    <p class="white mb-0">
      Por favor utilice el formulario para registrarse.
      <br>Si usted ya es miembro, por favor ingrese al
      <a routerLink="/user/login" class="white white-underline-link">LOGIN</a>.
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <!--            <span class="logo-single"></span>-->
    </a>
    <h6 class="mb-4">Registro de usuarios</h6>

    <form #registerForm="ngForm" novalidate (ngSubmit)="onSubmit()">

      <label class="form-group has-float-label">
        <input class="form-control" required ngModel #nombres="ngModel" name="nombres"/>
        <span>Nombres</span>
        <div *ngIf="!nombres.valid && registerForm.touched" class="invalid-tooltip">Los nombres son requeridos...</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" required ngModel #apellidos="ngModel" name="apellidos"/>
        <span>Apellidos</span>
        <div *ngIf="!apellidos.valid && registerForm.touched" class="invalid-tooltip">Los apellidos son requeridos...
        </div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" required ngModel #cedula="ngModel" name="cedula"/>
        <span>Cédula</span>
        <div *ngIf="!cedula.valid && registerForm.touched" class="invalid-tooltip">La cedula es requerida...</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" required ngModel #telefono="ngModel" name="telefono"/>
        <span>Teléfono</span>
        <div *ngIf="!telefono.valid && registerForm.touched" class="invalid-tooltip">El teléfono es requerido...</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" required email ngModel #email="ngModel" name="email"/>
        <span>{{ 'user.email' | translate }}</span>
        <div *ngIf="!email.valid && registerForm.submitted" class="invalid-tooltip">Email es requerido!</div>
        <div *ngIf="email?.errors?.email && registerForm.submitted" class="invalid-tooltip">Email debe ser una dirección
          institucional ej: jose.fonseca@est.umet.edu.ec!
        </div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" required ngModel #seudonimo="ngModel" name="seudonimo"/>
        <span>Seudonimo</span>
        <div *ngIf="!seudonimo.valid && registerForm.touched" class="invalid-tooltip">El seudonimo es requerido...</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" type="password" required ngModel #password="ngModel"
               name="password"/>
        <span>{{ 'user.password' | translate }}</span>
        <div *ngIf="!password.valid && registerForm.submitted" class="invalid-tooltip">Password es requerido!</div>
      </label>
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/user/forgot-password">Olvidaste el Password?</a>

        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
                          [isDisabled]="buttonDisabled" click="onLoginClick()">
          Registrar
        </app-state-button>

      </div>
    </form>

  </div>
</div>
<simple-notifications></simple-notifications>
