<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white h2">EMPRESA ELECTRICA QUITO S.A</p>
    <p class="white mb-0">
      Por favor utilice el formulario para registrarse.
      <br>Si usted ya es miembro, por favor ingrese al
      <a routerLink="/user/login" class="white white-underline-link">LOGIN</a>.
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <!--      <span class="logo-single"></span>-->
    </a>
    <h6 class="mb-4">Registro de usuarios</h6>

    <form #registerForm="ngForm" novalidate (ngSubmit)="onSubmit()">

      <label class="form-group has-float-label">
        <input class="form-control" required ngModel #rol="ngModel" name="rol"/>
        <span>Rol de usuario</span>
        <div *ngIf="!rol.valid && registerForm.touched" class="invalid-tooltip">Rol es requerido!</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" required ngModel #name="ngModel" name="name" readonly="true"/>
        <span>Nombre Completo</span>
        <!--        <div *ngIf="!name.valid && registerForm.submitted" class="invalid-tooltip">Nombre es requerido!</div>-->
      </label>

      <label class="form-group has-float-label">
        <input class="form-control" required email ngModel #email="ngModel" name="email" readonly="true"/>
        <span>{{ 'user.email' | translate }}</span>
        <!--        <div *ngIf="!email.valid && registerForm.submitted" class="invalid-tooltip">Email es requerido!</div>-->
        <!--        <div *ngIf="email?.errors?.email && registerForm.submitted" class="invalid-tooltip">Email debe ser una dirección-->
        <!--          valida!-->
        <!--        </div>-->
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" type="password" placeholder="" required ngModel #password="ngModel"
               name="password" [disabled]="passDisable"/>
        <span>{{ 'user.password' | translate }}</span>
        <!--        <div *ngIf="!password.valid && registerForm.submitted" class="invalid-tooltip">Password es requerido!</div>-->
      </label>
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/user/forgot-password">Olvidaste el Password?</a>

        <button type="button" class="btn btn-primary btn-lg btn-shadow" (click)="consultarUsuario()">Consultar Usuario
        </button>
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
                          [isDisabled]="buttonDisabled" click="onLoginClick()">
          Registrar
        </app-state-button>

      </div>
    </form>

  </div>
</div>
<simple-notifications></simple-notifications>
