<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <app-breadcrumb></app-breadcrumb>
    <div class="separator mb-2"></div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="well well-lg card card-block card-header">

      <div>
        <tabset #activityTab [justified]="true">
          <tab heading="Registre sus actividades semanales">
            <div class="container" style="min-height: 500px">
              <div class="container-fluid h-100">
                <div class="row w-100 align-items-center">
                  <div class="col text-center">
                    <form #actividadesForm="ngForm" novalidate (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="modal-header">
                            <h4 class="modal-title pull-left">Agregar Actividad Semanal</h4>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-xs-10 col-10 col-md-4 form-group">
                          <input [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" class="form-control"
                                 #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue"
                                 [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-xs-12 col-12 col-md-3 form-group">
                          <button class="btn btn-info" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen"
                                  type="button">Agregue el rango de semana
                          </button>
                        </div>
                        <div class="col-xs-12 col-12 col-md-3 form-group">
<!--                          <button type="button" class="btn btn-primary" (click)="agregarSemanal()">Agregar-->
<!--                            Actividad Semanal-->
<!--                          </button>-->
                        </div>
                      </div>
                    </form>

                    <div class="row">
                      <input
                        type="text"
                        style="padding:8px;margin:15px auto;width:30%;"
                        placeholder="Busqueda avanzada..."
                        (keyup)="updateFilterActividad($event)"
                      />
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <ngx-datatable style="align-items: center !important;"
                                       #cabActivityTable
                                       class="material fullscreen expandable"
                                       [rows]="actividades"
                                       [loadingIndicator]="loadingIndicator"
                                       [columns]="actividadesColumns"
                                       [headerHeight]="50"
                                       [footerHeight]="50"
                                       [reorderable]="reorderable"
                                       [columnMode]="ColumnMode"
                                       [limit]="5"
                                       [summaryPosition]="'bottom'"
                                       [scrollbarH]="true"
                                       rowHeight="auto">


                          <ngx-datatable-column name="Fecha Inicio Semana" prop="fechaInicio" [width]="200">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              {{renderDateToStr(row.fechaInicio)}}
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column name="Fecha Fin Semana" prop="fechaFin" [width]="200">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              {{renderDateToStr(row.fechaFin)}}
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column name="Estado" prop="estadoActividad" [width]="150">
                          </ngx-datatable-column>

                          <ngx-datatable-column name="Editar">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <button class="btn btn-primary" (click)="handleEdit(row,1)"><i
                                class="iconsminds-file-edit"></i></button>
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column name="Descargar">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <button class="btn btn-secondary" (click)="descargarReport(row)">
                                <i class="iconsminds-data-download"></i>
                              </button>
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column name="Eliminar">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <button type="button" class="btn btn-danger" (click)="abrirModalCabActi(templateCabActi)">
                                <i class="iconsminds-delete-file"></i>
                              </button>
                              <br><br>
                              <ng-template #templateCabActi>
                                <div class="modal-body text-center">
                                  <p>Esta seguro de eliminar el registro? Se eliminaran las actividades diarias dentro
                                    de esa semana y no volvera a recuperarlas.</p>
<!--                                  <button type="button" class="btn btn-outline-danger"-->
<!--                                          (click)="deleteActividadSemanal(row)">Si-->
<!--                                  </button>-->
                                  <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                                </div>
                              </ng-template>
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column name="Enviar">
                            <ng-template let-row="row" ngx-datatable-cell-template>
<!--                              <button type="button" class="btn btn-success"-->
<!--                                      (click)="abrirModalEnvioSemana(templateEnviarSemana)">-->
<!--                                <i class="iconsminds-mail-send"></i>-->
<!--                              </button>-->
                              <br><br>
                              <ng-template #templateEnviarSemana>
                                <div class="modal-body text-center">
                                  <p>Esta seguro de enviar el registro a su jefatura?</p>
<!--                                  <button type="button" class="btn btn-outline-success" (click)="enviarSemana(row)">Si-->
<!--                                  </button>-->
<!--                                  <button type="button" class="btn btn-primary" (click)="noEnviarSemana()">No</button>-->
                                </div>
                              </ng-template>
                            </ng-template>
                          </ngx-datatable-column>
                        </ngx-datatable>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </tab>
          <tab heading="Registre sus actividades diarias">
            <div class="row">
              <h1>Semana del {{fechaInicioSemana}} al {{fechaFinSemana}}  </h1>
            </div>

            <form #actividadesDetalleForm="ngForm" novalidate (ngSubmit)="onSubmit()">
              <div class="row">

                <div class="col-4">
                  <div class="mt-4">
                    <label>Descripcion (*)</label>
                    <textarea name="descripcionActividad" required ngModel #descripcionActividad="ngModel"
                              class="form-control"
                              rows="3"></textarea>
                    <div *ngIf="!descripcionActividad.valid && actividadesForm.submitted" class="invalid-tooltip">Nombre
                      es
                      requerido!
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="mt-4">
                    <label>Referencia</label>
                    <textarea class="form-control" rows="3" ngModel #referenciaActividad="ngModel"
                              name="referenciaActividad"></textarea>
                  </div>
                </div>
                <div class="col-4">
                  <div class="mt-4">
                    <label>Producto Entregable</label>
                    <textarea class="form-control" rows="3" ngModel #productoDigitalEntregable="ngModel"
                              name="productoDigitalEntregable"></textarea>

                  </div>
                </div>
                <div class="col-6">
                  <div class="mt-4">
                    <label>Observacion</label>
                    <textarea class="form-control" rows="3" ngModel #observacionActividad="ngModel"
                              name="observacionActividad"></textarea>
                  </div>
                </div>
                <div class="col-2">
                  <div class="mt-4">
                    <label>Fecha Actividad (*)</label>
                    <input class="form-control" type="date" ngModel #fechaInicio="ngModel"
                           name="fechaInicio"/>
                  </div>
                </div>
                <!--                <div class="col-2">-->
                <!--                  <div class="mt-4">-->
                <!--                    <label>Porcentaje/Avance%   (*)</label>-->
                <!--                    <ng-select [items]="porcentajesAvances" [hideSelected]="true" bindLabel="regionName" ngModel-->
                <!--                               #avancePorcentaje="ngModel"-->
                <!--                               name="avancePorcentaje">-->
                <!--                    </ng-select>-->
                <!--                  </div>-->
                <!--                </div>-->
                <div class="col-2">
                  <div class="mt-4">
                    <label>Etapa (*)</label>
                    <ng-select [items]="tareas" [hideSelected]="true" bindLabel="regionName" ngModel
                               #etapaActividad="ngModel"
                               name="etapaActividad">
                    </ng-select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary"
                            (click)="cancelar()">Cancelar
                    </button>
                    <button type="button" (click)="agregarDetalleActividad()" class="btn btn-primary float-right">
                      {{buttonLabel}}
                    </button>

                  </div>
                </div>
              </div>
            </form>

            <div class="row">
              <input
                type="text"
                style="padding:8px;margin:15px auto;width:30%;"
                placeholder="Busqueda avanzada..."
                (keyup)="updateFilter($event)"
              />
            </div>
            <div class="row">
              <div class="col-md-12">
                <ngx-datatable style="align-items: center !important;"
                               #activityTable
                               class="material fullscreen expandable"
                               [rows]="detalleActividades"
                               [loadingIndicator]="loadingIndicator"
                               [columns]="detalleActividadesColumns"
                               [headerHeight]="50"
                               [footerHeight]="50"
                               [reorderable]="reorderable"
                               [columnMode]="ColumnMode"
                               [limit]="5"
                               [summaryPosition]="'bottom'"
                               [scrollbarH]="true"
                               rowHeight="auto">

                  <ngx-datatable-column name="Descripcion" prop="descripcionActividad" [width]="200">
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Fecha Actividad" prop="diaSemana" [width]="117">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{renderDateToStr(row.diaSemana)}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Producto Digital" prop="productoDigitalEntregable"
                                        [width]="200"></ngx-datatable-column>
                  <ngx-datatable-column name="Referencia" prop="referenciaActividad"
                                        [width]="105"></ngx-datatable-column>
                  <ngx-datatable-column name="Observaciones" prop="observacionActividad"
                                        [width]="200"></ngx-datatable-column>
                  <!--                  <ngx-datatable-column name="Avance %" prop="avancePorcentaje" [width]="80"></ngx-datatable-column>-->
                  <ngx-datatable-column name="Etapa" prop="etapaActividad" [width]="125"></ngx-datatable-column>
                  <ngx-datatable-column name="Estado" prop="aprobacionJefatura" [width]="134"></ngx-datatable-column>
                  <ngx-datatable-column name="Editar" [width]="79">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <button class="btn btn-primary" (click)="detailEdit(row)"><i
                        class="iconsminds-file-edit"></i></button>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Eliminar" [width]="79">
                    <ng-template let-row="row" ngx-datatable-cell-template>

                      <button type="button" class="btn btn-danger" (click)="openModal(template)">
                        <i class="iconsminds-delete-file"></i>
                      </button>
                      <br><br>
                      <ng-template #template>
                        <div class="modal-body text-center">
                          <p>Esta seguro de eliminar el registro?</p>
                          <button type="button" class="btn btn-default" (click)="confirm(row)">Si</button>
                          <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                        </div>
                      </ng-template>

                    </ng-template>
                  </ngx-datatable-column>

                </ngx-datatable>
              </div>
            </div>

          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<simple-notifications></simple-notifications>
