<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white h2">UNIVERSIDAD METROPOLITANA</p>
    <p class="white mb-0">
      Por favor ingrese su nuevo password.
      <br>Si usted no es miembro, por favor ingrese al
      <a routerLink="/user/register" class="white white-underline-link">REGISTRESE</a>.
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
<!--      <span class="logo-single"></span>-->
    </a>
    <h6 class="mb-4">Reset Password</h6>

    <form #resetForm="ngForm" novalidate (ngSubmit)="onSubmit()">

      <label class="form-group has-float-label">
        <input class="form-control" type="password" placeholder="" required ngModel #newPassword="ngModel"
          name="newPassword" />
        <span>{{ 'user.password' | translate }}</span>
        <div *ngIf="!newPassword.valid && resetForm.submitted" class="invalid-tooltip">Password es requerida!</div>
      </label>
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/user/forgot-password">Olvidaste tu password?</a>
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          {{ 'user.reset-password-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form>

  </div>
</div>
<simple-notifications></simple-notifications>
