<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white h2">UNIVERSIDAD METROPOLITANA</p>
    <p class="white mb-0">
      Por favor use su correo electrónico para reestablecer su password.
      <br>Si no eres miembro, por favor
      <a routerLink="/user/register" class="white white-underline-link">REGISTRATE</a>.
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
<!--      <span class="logo-single"></span>-->
    </a>
    <h6 class="mb-4">Olvidaste el Password</h6>

    <form #passwordForm="ngForm" novalidate  (ngSubmit)="onSubmit()">
      <label class="form-group has-float-label">
        <input class="form-control" required email ngModel #email="ngModel" name="email"/>
        <span>{{ 'user.email' | translate }}</span>
        <div *ngIf="!email.valid && passwordForm.submitted" class="invalid-tooltip">Email is required!</div>
        <div *ngIf="email?.errors?.email && passwordForm.submitted" class="invalid-tooltip">Email must be a valid address!</div>
      </label>
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/user/login">{{ 'user.login-button' | translate }}</a>
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          {{ 'user.reset-password-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form >
  </div>
</div>
<simple-notifications></simple-notifications>
